
<h2>Select Road</h2>
<div class="container road-selection">
    <mat-select [(ngModel)]="selectedRoadId" (ngModelChange)="onRoadSelected()" class="mat-select">
        <mat-option *ngFor="let road of roads" [value]="road">{{ road }}</mat-option>
    </mat-select>

    <button mat-button (click)="openGoogleMaps()">
        <mat-icon class="mat-icon">map</mat-icon> Show All Info On Map For {{ this.selectedRoadId }}
    </button>
</div>
  
  <div *ngIf="roadworksData">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    <h2>Roadworks</h2>
    <mat-table [dataSource]="dataSource" class="info-table">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let roadwork" class="title-and-subtitle">
          <span class="title">{{ roadwork.title }}</span>
          <span class="subtitle">{{ roadwork.subtitle }}</span>
        </mat-cell>           
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let roadwork">{{ roadwork.description.join(", ") }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="viewOnMap">
        <mat-header-cell *matHeaderCellDef>View on Map</mat-header-cell>
        <mat-cell *matCellDef="let roadwork">
          <ng-container *ngIf="roadwork.coordinate && roadwork.coordinate.lat && roadwork.coordinate.long">
            <button mat-icon-button (click)="openMap(roadwork.coordinate)">
              <mat-icon aria-label="View on Map">location_on</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="['title', 'description',  'viewOnMap']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['title', 'description', 'viewOnMap']"></mat-row>
    </mat-table>
  </div>
  
  
  
  <div *ngIf="webcamsData">
    <h2>Webcams</h2>
    <mat-table [dataSource]="dataSourceWebCam" class="info-table">
      <ng-container matColumnDef="webcamName">
        <mat-header-cell *matHeaderCellDef>Webcam Name</mat-header-cell>
        <mat-cell *matCellDef="let webcam">{{ webcam.webcamName }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['webcamName']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['webcamName']"></mat-row>
    </mat-table>
  </div>
  
  <div *ngIf="restAreasData">
    <h2>Rest Areas</h2>
    <mat-table [dataSource]="dataSourceRestArea" class="info-table">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let restArea" class="title-and-subtitle">
          <span class="title">{{ restArea.title }}</span>
          <span class="subtitle">{{ restArea.subtitle }}</span>
        </mat-cell>  
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let restArea">{{
          restArea.description.join(", ")
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef>lat</mat-header-cell>
        <mat-cell *matCellDef="let restArea">{{ restArea.lat }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="viewOnMap" >
        <mat-header-cell *matHeaderCellDef >View on Map</mat-header-cell>
        <mat-cell *matCellDef="let restArea">
          <ng-container *ngIf="restArea.coordinate && restArea.coordinate.lat && restArea.coordinate.long">
            <button mat-icon-button (click)="openMap(restArea.coordinate)">
              <mat-icon aria-label="View on Map">location_on</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="['title', 'description',  'viewOnMap']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['title', 'description', 'viewOnMap']"></mat-row>
    </mat-table>
  </div>
  
  <div *ngIf="trafficReportsData">
    <h2>Traffic reports</h2>
    <mat-table [dataSource]="dataSourceTrafficReports" class="info-table">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let trafficReport" class="title-and-subtitle">
          <span class="title">{{ trafficReport.title }}</span>
          <span class="subtitle">{{ trafficReport.subtitle }}</span>
        </mat-cell>  
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let trafficReport">{{
          trafficReport.description.join(", ")
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="viewOnMap" >
        <mat-header-cell *matHeaderCellDef >View on Map</mat-header-cell>
        <mat-cell *matCellDef="let trafficReport">
          <ng-container *ngIf="trafficReport.coordinate && trafficReport.coordinate.lat && trafficReport.coordinate.long">
            <button mat-icon-button (click)="openMap(trafficReport.coordinate)">
              <mat-icon aria-label="View on Map">location_on</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="['title', 'description',  'viewOnMap']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['title', 'description', 'viewOnMap']"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="ClosuresData">
    <h2>Closure</h2>
    <mat-table [dataSource]="dataSourceClosure" class="info-table">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let closure" class="title-and-subtitle">
          <span class="title">{{ closure.title }}</span>
          <span class="subtitle">{{ closure.subtitle }}</span>
        </mat-cell>  
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let closure">{{
          closure.description.join(", ")
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="viewOnMap" >
        <mat-header-cell *matHeaderCellDef >View on Map</mat-header-cell>
        <mat-cell *matCellDef="let closure" >
          <ng-container *ngIf="closure.coordinate && closure.coordinate.lat && closure.coordinate.long">
            <button mat-icon-button (click)="openMap(closure.coordinate)">
              <mat-icon aria-label="View on Map">location_on</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="['title', 'description',  'viewOnMap']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['title', 'description', 'viewOnMap']"></mat-row>
    </mat-table>
  </div>
  
  <div *ngIf="chargingStationsData">
    <h2>Charging Stations</h2>
    <mat-table [dataSource]="dataSourceChargingStations" class="info-table">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let chargingStation" class="title-and-subtitle">
          <span class="title">{{ chargingStation.title }}</span>
          <span class="subtitle">{{ chargingStation.subtitle }}</span>
        </mat-cell>  
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let chargingStation">{{
          chargingStation.description.join(", ")
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="viewOnMap" >
        <mat-header-cell *matHeaderCellDef >View on Map</mat-header-cell>
        <mat-cell *matCellDef="let chargingStation">
          <ng-container *ngIf="chargingStation.coordinate && chargingStation.coordinate.lat && chargingStation.coordinate.long">
            <button mat-icon-button (click)="openMap(chargingStation.coordinate)">
              <mat-icon aria-label="View on Map">location_on</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="['title', 'description',  'viewOnMap']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['title', 'description', 'viewOnMap']"></mat-row>
    </mat-table>
    

  </div>